{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="news-background news-page-background">

        <div class="previous-links">
            <a href="{{ path('app_home') }}">Accueil</a>
        </div>

        <div class="news-page-title">

            <h2>Conditions générals d'utilisation</h2>
           
        </div>
    
        <div class="news-page-content">

            <h2>PRÉSENTATION DES CGU</h2>

            <p >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet velit non lacus tincidunt sodales. Praesent eu pellentesque lectus, nec sollicitudin tortor. In facilisis lectus sit amet sapien volutpat viverra. In sed nisl libero. Cras sodales faucibus vulputate. Nam dolor purus, cursus porta nunc sed, bibendum placerat dui. Ut arcu ipsum, sollicitudin id ligula at, semper tempus elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque sagittis vel est convallis varius.
                Fusce at nisl purus. Duis vel faucibus justo. Donec ac ligula congue, porta nunc at, gravida neque. Nulla sollicitudin tempus mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec metus ligula, pulvinar non venenatis non, tincidunt id elit. Praesent nisl velit, sollicitudin ut sodales quis, dignissim nec est. Quisque sit amet arcu ut turpis blandit cursus ut et lacus.
                Phasellus nec dapibus justo. Nulla ac ligula maximus, feugiat lacus at, accumsan nisl. Sed ac risus vitae justo euismod fermentum. Phasellus accumsan ultricies justo, quis porttitor ante dictum non. Curabitur lacinia libero ac sapien molestie finibus. Nulla interdum velit est. 
            </p>

            <br>

            <h2>ACCEPTATION DES CGU</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet velit non lacus tincidunt sodales. Praesent eu pellentesque lectus, nec sollicitudin tortor. In facilisis lectus sit amet sapien volutpat viverra. In sed nisl libero. Cras sodales faucibus vulputate. Nam dolor purus, cursus porta nunc sed, bibendum placerat dui. Ut arcu ipsum, sollicitudin id ligula at, semper tempus elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque sagittis vel est convallis varius.
            </p>

            <br>

            <h2>ACCÈS</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet velit non lacus tincidunt sodales. Praesent eu pellentesque lectus, nec sollicitudin tortor. In facilisis lectus sit amet sapien volutpat viverra. In sed nisl libero. Cras sodales faucibus vulputate. Nam dolor purus, cursus porta nunc sed, bibendum placerat dui. Ut arcu ipsum, sollicitudin id ligula at, semper tempus elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque sagittis vel est convallis varius.
            </p>

            <br>

            <h2>CRÉATION DE COMPTE</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet velit non lacus tincidunt sodales. Praesent eu pellentesque lectus, nec sollicitudin tortor. In facilisis lectus sit amet sapien volutpat viverra. In sed nisl libero. Cras sodales faucibus vulputate. Nam dolor purus, cursus porta nunc sed, bibendum placerat dui. Ut arcu ipsum, sollicitudin id ligula at, semper tempus elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque sagittis vel est convallis varius.
            </p>

            <br>
            
            <h2>SANCTION</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet velit non lacus tincidunt sodales. Praesent eu pellentesque lectus, nec sollicitudin tortor. In facilisis lectus sit amet sapien volutpat viverra. In sed nisl libero. Cras sodales faucibus vulputate. Nam dolor purus, cursus porta nunc sed, bibendum placerat dui. Ut arcu ipsum, sollicitudin id ligula at, semper tempus elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque sagittis vel est convallis varius.
            </p>

            <br>
            
            <h2>SUPPORT</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet velit non lacus tincidunt sodales. Praesent eu pellentesque lectus, nec sollicitudin tortor. In facilisis lectus sit amet sapien volutpat viverra. In sed nisl libero. Cras sodales faucibus vulputate. Nam dolor purus, cursus porta nunc sed, bibendum placerat dui. Ut arcu ipsum, sollicitudin id ligula at, semper tempus elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque sagittis vel est convallis varius.
            </p>

            <br>
            
            <h2>RESPONSABILITÉ ET GARANTIE</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet velit non lacus tincidunt sodales. Praesent eu pellentesque lectus, nec sollicitudin tortor. In facilisis lectus sit amet sapien volutpat viverra. In sed nisl libero. Cras sodales faucibus vulputate. Nam dolor purus, cursus porta nunc sed, bibendum placerat dui. Ut arcu ipsum, sollicitudin id ligula at, semper tempus elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque sagittis vel est convallis varius.
            </p>

            

        </div> 
       
   
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/menuBurger.js') }}"></script>
{% endblock %}