{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="news-background news-page-background">

        <div class="previous-links">
            <a href="{{ path('app_home') }}">Accueil</a>
        </div>

        <div class="news-page-title">

            <h2>Politique de confidentialité</h2>
           
        </div>

        <div class="news-page-content">

            <h2>Préambule</h2>

            <p >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet velit non lacus tincidunt sodales. Praesent eu pellentesque lectus, nec sollicitudin tortor. In facilisis lectus sit amet sapien volutpat viverra. In sed nisl libero. Cras sodales faucibus vulputate. Nam dolor purus, cursus porta nunc sed, bibendum placerat dui. Ut arcu ipsum, sollicitudin id ligula at, semper tempus elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque sagittis vel est convallis varius.
                Fusce at nisl purus. Duis vel faucibus justo. Donec ac ligula congue, porta nunc at, gravida neque. Nulla sollicitudin tempus mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec metus ligula, pulvinar non venenatis non, tincidunt id elit. Praesent nisl velit, sollicitudin ut sodales quis, dignissim nec est. Quisque sit amet arcu ut turpis blandit cursus ut et lacus.
                Phasellus nec dapibus justo. Nulla ac ligula maximus, feugiat lacus at, accumsan nisl. Sed ac risus vitae justo euismod fermentum. Phasellus accumsan ultricies justo, quis porttitor ante dictum non. Curabitur lacinia libero ac sapien molestie finibus. Nulla interdum velit est. 
            </p>

            <br>

            <h2>Données collectées</h2>

            <p>
                Lorsque vous utilisez nos Services, certaines données à caractère personnel peuvent vous être demandées.

                Par « données personnelles », il faut entendre toutes informations permettant de vous identifier directement ou indirectement, par référence à un numéro d'identification ou à un ou plusieurs éléments qui vous sont propres.

                Nous ne demandons pas ces informations si vous ne faites que visiter nos Sites, mais vous ne pourrez accéder à certaines zones de ces Sites, comme les forums, sans vous enregistrer.

                Vous serez informé, au moment de la collecte, du caractère facultatif ou obligatoire de la communication des données personnelles que Nous vous demandons et des conséquences éventuelles de la non-communication de ces données.
            </p>

            <br>

            <h2>FINALITÉS ET BASES JURIDIQUES</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet velit non lacus tincidunt sodales. Praesent eu pellentesque lectus, nec sollicitudin tortor. In facilisis lectus sit amet sapien volutpat viverra. In sed nisl libero. Cras sodales faucibus vulputate. Nam dolor purus, cursus porta nunc sed, bibendum placerat dui. Ut arcu ipsum, sollicitudin id ligula at, semper tempus elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque sagittis vel est convallis varius.
            </p>

            <br>

            <h2>ESPACES DE DISCUSSION ET PROFIL UTILISATEUR</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet velit non lacus tincidunt sodales. Praesent eu pellentesque lectus, nec sollicitudin tortor. In facilisis lectus sit amet sapien volutpat viverra. In sed nisl libero. Cras sodales faucibus vulputate. Nam dolor purus, cursus porta nunc sed, bibendum placerat dui. Ut arcu ipsum, sollicitudin id ligula at, semper tempus elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque sagittis vel est convallis varius.
            </p>

            <br>

            <h2> SÉCURITÉ</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet velit non lacus tincidunt sodales. Praesent eu pellentesque lectus, nec sollicitudin tortor. In facilisis lectus sit amet sapien volutpat viverra. In sed nisl libero. Cras sodales faucibus vulputate. Nam dolor purus, cursus porta nunc sed, bibendum placerat dui. Ut arcu ipsum, sollicitudin id ligula at, semper tempus elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque sagittis vel est convallis varius.
            </p>

            <br>

            <h2> VOS DROITS</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet velit non lacus tincidunt sodales. Praesent eu pellentesque lectus, nec sollicitudin tortor. In facilisis lectus sit amet sapien volutpat viverra. In sed nisl libero. Cras sodales faucibus vulputate. Nam dolor purus, cursus porta nunc sed, bibendum placerat dui. Ut arcu ipsum, sollicitudin id ligula at, semper tempus elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque sagittis vel est convallis varius.
            </p>

            <br>

            <h2> QUESTIONS ET RÉCLAMATIONS</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet velit non lacus tincidunt sodales. Praesent eu pellentesque lectus, nec sollicitudin tortor. In facilisis lectus sit amet sapien volutpat viverra. In sed nisl libero. Cras sodales faucibus vulputate. Nam dolor purus, cursus porta nunc sed, bibendum placerat dui. Ut arcu ipsum, sollicitudin id ligula at, semper tempus elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque sagittis vel est convallis varius.
            </p>

        </div> 
    
   
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/menuBurger.js') }}"></script>
{% endblock %}