{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="news-background news-page-background">

        <div class="previous-links">
            <a href="{{ path('app_home') }}">Accueil</a>
        </div>

        <div class="news-page-title">

            <h2>Règlement de bonne conduite</h2>
           
        </div>

        <div class="news-page-allContent">
    
            <div class="forum-subject">
    
                <p class="news-page-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet velit non lacus tincidunt sodales. Praesent eu pellentesque lectus, nec sollicitudin tortor. In facilisis lectus sit amet sapien volutpat viverra. In sed nisl libero. Cras sodales faucibus vulputate. Nam dolor purus, cursus porta nunc sed, bibendum placerat dui. Ut arcu ipsum, sollicitudin id ligula at, semper tempus elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque sagittis vel est convallis varius.
Fusce at nisl purus. Duis vel faucibus justo. Donec ac ligula congue, porta nunc at, gravida neque. Nulla sollicitudin tempus mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec metus ligula, pulvinar non venenatis non, tincidunt id elit. Praesent nisl velit, sollicitudin ut sodales quis, dignissim nec est. Quisque sit amet arcu ut turpis blandit cursus ut et lacus.
Phasellus nec dapibus justo. Nulla ac ligula maximus, feugiat lacus at, accumsan nisl. Sed ac risus vitae justo euismod fermentum. Phasellus accumsan ultricies justo, quis porttitor ante dictum non. Curabitur lacinia libero ac sapien molestie finibus. Nulla interdum velit est. Nullam ante est, interdum et est eget, pretium dictum arcu. Mauris convallis viverra turpis, eget sollicitudin eros facilisis at. Curabitur dui leo, mollis a dolor a, maximus mollis leo. Fusce et mauris at mi volutpat rhoncus vitae eget enim. Quisque nec diam ligula. Proin ac augue eu augue aliquet iaculis. Nam sit amet eleifend mi. Aliquam erat volutpat.
Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean id diam hendrerit, consequat dolor nec, eleifend nisl. Vestibulum vitae tincidunt diam. Sed at sodales felis, et aliquam massa. Morbi malesuada dictum iaculis. Suspendisse potenti. Donec ornare, turpis et efficitur feugiat, dui neque pulvinar lorem, in cursus tortor nulla in eros. Etiam sed feugiat urna.
Morbi luctus molestie mi, in lacinia diam luctus ac. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec placerat lorem ac nibh posuere volutpat. Etiam volutpat nisl metus. Nulla eget ipsum arcu. Integer malesuada, urna id varius efficitur, felis nunc facilisis arcu, eget viverra eros libero id ligula. Nullam vitae faucibus sapien. Aliquam vitae leo interdum, commodo arcu ac, condimentum sem. Phasellus sodales elit et tortor auctor mollis. Phasellus fermentum fringilla urna non eleifend. Duis ex nunc, lobortis nec gravida vitae, accumsan ut lacus. Nam nulla mauris, auctor eu imperdiet ut, cursus eu mi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent ante mi, volutpat a massa in, luctus condimentum justo. Nunc venenatis quis risus id aliquam.

                </p>
    
            </div> 
        </div>
   
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/menuBurger.js') }}"></script>
{% endblock %}