@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
}


/** CSS relatif à toutes les pages */

html, body{
    height: 100%;
    width: 100%;
}

body{
    background: linear-gradient(#40b2b5, #4866a2, #51068a);
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;

}

article{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

 
footer{
    display: flex;
    height: 80px;
    background: #51068a;
    box-shadow: 0px 0px 5px black;
    padding: 5px 10px;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer small {
    color:white;
}

.droit{
    display: flex;
    flex-direction: column;
    align-self: self-end;
}

.warningMessage{
    color: #df0000;
    margin-bottom: 15px;
}

.imgWarning{
    width: 100%;
    background: white;
    border: solid 5px white;
}

/** BOUTONS */

.btn{
    text-decoration: none;
}

.btn-margin{
    margin: auto;
}

.btn-editProfil{
    align-self: self-start;
}

.btn-join{
    cursor: pointer;
    color: #40b2b5;
    background: none;
    border: none;
    font-size: 25px;
}

.btn-edit{
    cursor: pointer;
    color: #51068a;
    background: none;
    border: none;
    font-size: 25px;
}

.btn-warning{
    cursor: pointer;
    color: #df0000;
    background: none;
    border: none;
    font-size: 25px;
}

.btn-join:hover, .btn-edit:hover, .btn-warning:hover{
    text-decoration: underline;
}


.btn-submit {
    cursor: pointer;
    margin-top: 20px;
    padding: 5px;
    font-size: 25px;
    color: darkcyan;
    border: #40b2b5 solid;
    border-radius: 10px;
    background-color: rgb(255 255 255 / 70%);
}

.btn-submit:hover{
    background-color: rgb(163, 255, 255);

}

.btn-delete{
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    align-self: center;
    border: solid 3px;
    padding: 3px;
    color: #df0000;
    background: rgb(255 255 255 / 70%);
}

.btn-delete-cross{
    cursor: pointer;
    font-size: 15px;
    font-family: 'FontAwesome';
    border: unset;
    padding: 3px;
    color: #df0000;
    background: white;
}

.btn-delete:hover{
    background-color:#f8d7da;

}

.sf-toolbar{
    content-visibility: hidden;
}


/** HEADER */

header{
    display: flex;
    position: relative;
    background: rgb(64, 178, 181) ;
    padding: 10px 0px;
    box-shadow: 0px 0px 5px black;
    
  
}

.infoHeader{
    display: flex;
    width: 95%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    text-shadow: 0px 1px 1px black;
}


.infoHeader h1{
    text-align: center;
    color: white;
    font-size: 35px;
}


header .navigation{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}

.ul-navLeft{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    padding: 0;

}

.ul-navRight{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 0;  
}

.menu{
    display: flex;
    width: 80%;
}


.connexion{
    display: flex;
    width: 20%; 
    justify-content: flex-end
}

.menu-profil{
    display: flex;
    align-items: center;

}

.miniAvatarProfil{
    background: white;
    border: solid 3px #ffffff;
    box-shadow: 0px 2px 10px black;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-left: 10px;
}

/* dropdown */

.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(0 139 139 / 90%);
    border: solid 2px white;
    border-top: dotted 2px white;
    border-radius: 0px 0px 5px 5px;
    min-width: 180px;
    box-shadow: 0px 8px 10px 0px rgb(0 0 0 / 50%);
    z-index: 1;
    font-size: smaller;
    }
      
.dropdown:hover .dropdown-content {
display: block;
}

.menu-item{
    list-style: none;
    color: white;
    margin-right: 10px;
    font-size: 25px;
}

.sub-menu-item{
    list-style: none;
    font-size: 20px;
    color: white;
    padding: 10px 10px;
}

.sub-menu-item:hover{
    background-color: rgba(255, 255, 255, 0.6);
}

header a {
    text-decoration: none;
    color: white;
}


/* menu burger caché */

.menuBurger{
    content-visibility: hidden;
}

.sidenav{
    content-visibility: hidden;
}


    /** ADDFLASH */

.flashMessage{
    width: 100%;
    position: absolute;
}

.flash{
    display: flex;
    justify-content: center;
}

.alert {
    --bs-alert-bg: transparent;
    --bs-alert-padding-x: 1rem;
    --bs-alert-padding-y: 1rem;
    --bs-alert-color: inherit;
    --bs-alert-border-color: transparent;
    --bs-alert-border: 1pxsolidvar(--bs-alert-border-color);
    position: relative;
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
    margin-bottom: var(--bs-alert-margin-bottom);
    color: var(--bs-alert-color);
    background-color: var(--bs-alert-bg);
    border: var(--bs-alert-border);
}

.alert-success {
    --bs-alert-color: #0f5132;
    --bs-alert-bg: #d1e7dd;
    --bs-alert-border-color: #badbcc;
}

.alert-warning {
    --bs-alert-color: #664d03;
    --bs-alert-bg: #fff3cd;
    --bs-alert-border-color: #ffecb5;
}

.alert-danger {
    --bs-alert-color: #842029;
    --bs-alert-bg: #f8d7da;
    --bs-alert-border-color: #f5c2c7;
}

.alert-icon{
    margin-right: 10px;
}

/** ACCUEIL */

.homeBackground{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    margin: auto;
}

.homeBackground h1{
    color: #ffffff;
    text-align: center;
    font-size: 35px;
    text-shadow: 0px 2px 2px black;
    margin-top: 25px;
}

.news-background{
    width: 80%;
    background: rgba(255, 255, 255, 0.5);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 20px;
}

.home-news-informations{
    display: flex;
    margin-bottom: 10px;
}

.home-news-informations figure {
    background-color: white;
}

.home-news-title{
    display: flex;
    justify-content: space-between;
    background: #015a5b;
    width: 100%;
    align-items: center;
}

.home-news-title h2{
    font-size: 36px;
    color: white;
    text-shadow: 0px 1px 1px black;
    margin-left: 20px;
}

.home-news-title a{
    font-size: 22px;
    text-decoration: none;
    background-color: #40b2b5;
    color: white;
    text-shadow: 0px 1px 1px black;
    padding: 10px;
    margin-right: 20px;
}

/* bloc news */

.news-place {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.block-news {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 500px;
    background: white;
    padding: 20px;
    margin: 10px;
}

.news-illustration {
    object-fit: cover;
    width: 100%;
}

.all-news-content{
    overflow: hidden;
    position: relative;
}

.all-news-content::before{
    content:'';
    width:100%;
    height:100%;    
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(transparent 400px, white);
}

.more-info-news{
    display: flex;
    background: #ebebeb;
    padding: 10px;

}

.more-info-news a{
    width: 100%;
    text-align: end;
    color: rgb(64 178 181);
    font-size: 18px;
    text-decoration: none;
}

.more-info-news a:hover{
    color:#015a5b;
    text-decoration: underline;
}
    


.news-title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 15px;
    background: #ebebeb;
    padding: 10px;
}

.news-title h2{
    font-size: 30px;
}

.news-content{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: justify;
}

.news-pagination{
    margin-top: 15px;
    padding: 5px;
    background: white;
    color: #51068a;
    text-align: center;
    font-size: 20px;
}


/* slideShow */

.slideShowTournament{
    margin: 30px 0px;
}

.slideShowTournament h2{
    background: #51068a;
    color: white;
    text-shadow: 0px 1px 1px black;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    margin: 30px auto;
}

.slider{
    width: 80%;
    margin: auto;
    position: relative;
    padding: 25px 40px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px

}

.mySlides{
    display: none;
    margin-left: 20px;
}

.slideButton{
    color: #fff;
    background-color: #696969;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.right-button {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
}

.left-button{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
}

.mySlides figure{
    margin-right: 20px;
}

.mySlides img{
    width: 150px;
    height:  150px;
    border: solid white 5px;
    box-shadow: 0px 2px 5px 1px black;
}

.slideTournamentName{
    text-decoration: none;
    font-size: 45px;
    color:#0d2f31;
}

.slideTournamentName:hover{
    color:#40b2b5;
}

.slideTournamentInfo{
    font-size: 30px;

}

/** PAGES NEWS */

.news-page-background{
    width: 60%;
}

.news-page-title{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #40b2b5;
    padding: 10px 15px;
    
}

.news-page-title h2{
    color: white;
    font-size: 36px;
}

.news-page-allContent{
    padding: 24px 75px;
}

.news-page-illustration{
    object-fit: cover;
    width: 100%;
    height: 400px;
    border: solid white 5px;
}

.news-page-content{
    background: white;
    padding: 24px 75px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    text-align: justify;
    border-bottom: solid 1px;
    border-color: lightgrey;
}







/** FORMULAIRES NEWS  */

.fomulaire-news-background{
    max-width: 850px;
    margin: 50px auto;
    padding: 30px 60px;
    border-radius: 50px;
    background-color: rgb(255 255 255);
}

.fomulaire-news-background h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

.news-preview-img{
    height: 250px;
    width: 350px;
    object-fit: cover;
    background: white;
    border: solid white 5px;
    box-shadow: 0px 2px 5px 1px black;
    border-radius: 15px;
}

.addNewsFormulaire{
    display: flex;
    width: 100%;
}

.news-img-formulaire{
    margin-right: 20px;
}

.news-content-formulaire{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.news-content-formulaire label{
    font-size: 20px;
}

.addNewsFormulaire form div{
    display: flex;
    flex-direction: column;
    text-align: -webkit-center;
    margin: 10px 0;
}

.new-title-form{
    margin-bottom: 20px;
}

.submit-news-form{
    cursor: pointer;
    color: darkcyan;
    font-size: 30px;
    padding: 4px 8px;
    border: solid 4px  rgb(64, 178, 181);
    border-radius: 10px;
}

.submit-news-form:hover{
    color: rgb(255, 255, 255);
    background:#40b1b5b7;
   
}

.position-news-submit{
    text-align: center;
    margin-top: 30px;
}


/** INSCRIPTION, CONNECTION et FORMULAIRE */

.formulaireBackground{
    max-width: 450px;
    margin: 80px auto;
    padding: 30px 60px;
    border-radius: 50px;
    background-color: rgb(255 255 255);
}

.formulaireBackground h1{
    margin-bottom: 20px;
    text-align: -webkit-center;
}

.form-control{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    color: #212529;
    background-color: rgb(244, 244, 244);
    border: 2px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: rgb(64, 178, 181);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(185 240 235);
}

.form-select{
    display: block;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    color: #212529;
    background-color: rgb(244, 244, 244);
    border: 2px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-select:focus{
    color: #212529;
    background-color: #fff;
    border-color: rgb(64, 178, 181);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(185 240 235);
}

.file-form-control{
    font-size: 18px;
  
  }


.button-box{
    text-align: -webkit-center;
}

.textarea-form{
    resize: none;
    height: 100px;
}

/* bouton de choix (oui/non) */
.btwn2Choice{
    display: flex;
}

.btwn2Choice label{
    margin-right: 20px;
}

.btwn2Choice input{
    margin-right: 3px;

}

/* register */

.registerFormulaire div{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.registerFormulaire label{
    font-size: 20px;
    margin-bottom: 5px;
}

/* login */

.loginForm{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.loginForm label{
    font-size: 20px;
    margin-bottom: 5px;
}

.loginForm input{
    margin-bottom: 10px;
}

.socialNetwork-connection{
    display: flex;
    width: 80%;
    align-items: center;
    place-content: center;
    margin: auto;
    margin-top: 30px;
    padding: 5px 0px;
    border: solid 3px;
    border-radius: 5px;

    text-decoration: none;
    color: #51068a;
    font-size: 20px;
    background-color: rgb(255 255 255 / 70%);
}

.socialNetwork-connection:hover{
    background-color: #e9ccff;

}

.socialNetwork-logo{
    font-size: 25px;
    margin-right: 10px;
}

/* add character */

.addCharacterFormulaire div{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.choiceGender{
    flex-direction: row !important;
}

/** ORGANISER UN TOURNOIS - CREER UNE EQUIPE */

.tournamentFormBackground, .teamFormBackground{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 50px auto;
    padding: 30px;
    border-radius: 50px;
    background-color: rgba(255 255 255 / 80%);
}

.teamFormBackground .warningMessage{
    text-align: center;
    font-size: 30px;
}

.tournamentFormBackground h1, .teamFormBackground h1{
    align-self: center;
    color: #000000;
    font-size: 35px;
    /* text-shadow: 0px 2px 5px black; */
}

.tournamentFormBackground label, .teamFormBackground label{
    font-size: 22px;  
}

.form-tournament{
    width: 85%;
}

.addTournamentFormulaire, .addTeamFormulaire{
    display: flex;
    justify-content: space-between;
    padding: 40px 0 20px 0;
}

.addTournamentPartOne, .addTournamentPartTwo, .addTournamentPartThree, .addTeamPartOne, .addTeamPartTwo, .addTeamPartThree{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    margin: 0px 25px;
}

.addTournamentPartThree, .addTeamPartThree{
    justify-content: flex-start;
}

.addTournamentPartOne div, .addTournamentPartTwo div, .addTournamentPartThree div, .addTeamPartOne div, .addTeamPartTwo div, .addTeamPartThree div{
    margin-bottom: 20px;
}

.submitAddTournamentPosition, .submitAddTeamPosition{
    text-align: center;
}

.submitAddTournament, .submitAddTeam{
    cursor: pointer;
    color: darkcyan;
    font-size: 30px;
    padding: 8px 20px;
    border: solid 4px  rgb(64, 178, 181);
    border-radius: 10px;
}

.submitAddTournament:hover, .submitAddTeam:hover{
   background-color: rgba(255, 255, 255, 0.655);
}


/* permet de griser les parties non disponible une fois qu' un choix est fait */
input[type=number]:disabled{
    background-color: gray;
    border-color: grey; 
}

textarea:disabled{
    background-color: gray;
    border-color: grey;  
}



/** PROFIL */

/* css commun à user/tournament/team */

.profilBackground{
    width: 80%;
    margin: 50px auto;
}

.profilUser .warningMessage, .profilTeam .warningMessage{
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin-top: 20px
}

.imgProfil{
    height: 250px;
    width: 250px;
    object-fit: cover;
    background: white;
    border: solid white 5px;
    box-shadow: 0px 2px 5px 1px black;
    border-radius: 15px;
}

.profil{
    padding: 40px 50px;
    background-color: rgb(255 255 255 / 70%);
    border-radius: 50px;
    border: solid white 5px;
    margin-bottom: 30px;
}

.profil h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.allInfo{
    display: flex;
    margin-bottom: 30px;
}

.allInfo figure{
    margin-right: 5%;
}

.profilInfo {
    width: 40%;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoPartTwo{
    margin-top: 10px;
}


.stats{
    margin-top: 10px;

}

/* css PROFIL USER ET TEAM */
.profilInfoMatch{
    width: 30%;
    font-size: 25px;
}

.profilInfoMatch .warningMessage{
    text-align: unset  !important;
}

/* css PROFIL USER UNIQUEMENT */

.modifyInfoP{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

.profil-socialNetworkInfo{
    font-family:'Roboto Condensed', sans-serif ;
}

.characterClass{
    display: flex;
    align-self: center;
}

.characterName{
    width: 90%;
    margin-right: 10px
}

/* css PROFIL TEAM UNIQUEMENT*/

.btnTeamInfo{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-between;
}

.teamDescription{
    margin-bottom: 30px;
    font-size: 25px;
}

.organisator-control{
    width: 90%;
    padding: 10px 0px;
    margin: auto;
    margin-bottom: 25px;
    /* border-top: solid 2px; */
    border-bottom: solid 2px;
}

/* css PROFIL TOURNAMENT UNIQUEMENT */

.profilTournament h1{
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
}


.allInfoTournament{
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}

.rewardTournamentSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 25px;
    
}

.tournamentDescription{
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    font-size: 25px;
}

.tournamentDescription p{
    text-align: justify;
}

.tournamentInscription{
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    font-size: 25px;
}

.inscriptionTeams{
    display: flex;

}

.inscriptionTeams a{
    margin-right: 20px;

}

.avalable-inscription .warningMessage{
margin-bottom: 0px;
font-family: 'Roboto Condensed', sans-serif;
font-size: 18px;
}

.littleInfo{
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
}

.participatorList{
    text-align: -webkit-center;
    margin-bottom: 15px;
}


.participatingTeam{
    background-color: #0d2f31 !important;
    overflow-y: scroll;
    padding: 0px !important;
}

.noParticipation{
    color:white;
    text-align-last: center;
    font-size: 25px;
    margin-top: 20px;
}


   /** Onglets profil */

/* style de l'onglet */
.tab-profil {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border: 6px solid darkcyan;
    border-bottom: solid 4px darkcyan;
    background-color: rgb(202 254 255);
    }
    
    /* Style des boutons des onglets */
.tab-profil button {
    background-color: inherit;
    color: darkcyan;
    width: 33%;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
    
    /* changerement du background du bouton en hover */
.tab-profil button:hover {
    background-color: #ddd;
}
    
    /* Create an active/current tablink class */
.tab-profil button.active {
    background-color: #40b2b5;
    color: white;
}
    
    /* Style du contenu de l'onglet */
.tabcontentProfil {
    display: none;
    flex-direction: column;
    background: white;
    border: 6px solid darkcyan;
    padding: 20px;
    border-top: 4px;
    box-shadow: 0px 0px 5px 1px black inset;
    min-height: 277px;
}

    /* onglet personnages/ team / tournois */

.characterCollection, .tournamentUserCollection, .teamsUserCollection{
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    overflow: auto;
}  

.characterProfil, .tournamentUserProfil, .teamUserProfil{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
}

.characterProfil img{
    width: 150px;
}

.tournamentUserProfil img, .teamUserProfil img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: solid white 5px;
    box-shadow: 0px 2px 5px 1px black;

}

.tournamentUserProfil a, .teamUserProfil a{
    color:#0d2f31;
    text-decoration: none;
}

.addElementTab{
    align-self: flex-end;
    font-size: 20px;
    color: #51068a;
}

.addElementTab:hover{
    text-decoration: underline;
    color: hsla(274, 92%, 28%, 0.8);
}

.teamChoice{
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}

.teamChoice .addElementTab{
    margin-right: 25px;
}
    


/**  MODIFIER PROFILE */

.edit-profil-background{
    background: rgba(255 255 255);
    width: 60%;
    margin: 50px auto;
    padding: 30px 60px;
    border-radius: 50px;
}

.edit-profil-background h1{
    margin-bottom: 20px;
    text-align: -webkit-center;
    font-size: 40px;
}

.edit-profil-form{
    display: flex;
    flex-direction: column;
}

.edit-profil-form label{
    font-size: 20px;
}

.info-edit-profil{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
   
}

.edit-avatar{
    background: #ffffff;
    border: solid 5px #ffffff;
    box-shadow: 0px 2px 5px 1px black;
    border-radius: 15px;
    height: 220px;
    width: 220px;
    object-fit: cover;
    margin-bottom: 20px;
}

.edit-profil-avatar{
    margin-right: 20px;
}

.edit-mail-pseudo{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.edit-mail-pseudo div{
    margin-bottom: 15px;
}


.specific-socialNetwork p{
    font-size: 22px;
    font-family: 'Roboto Condensed', sans-serif;
}

.socialNetwork-update{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    padding: 5px 0px;
    border: solid 3px;
    border-radius: 5px;
    text-decoration: none;
    color: #51068a;
    font-size: 20px;
    background-color: rgb(255 255 255 / 70%);
}
    
.socialNetwork-update:hover{
    background-color: #e9ccff;

}

.edit-profil-submit{
    text-align: center;
}



/** MODIFIER COMPTE */

.accountBackground{
    display: flex;
    flex-direction: column;
    background: white;
    width: 400px;
    margin: auto;
    margin-top: 80px;
    padding: 30px 40px;
    border-radius: 50px;
    justify-content: space-between;
}

.accountBackground h1{
    font-size: 45px;
    margin-bottom: 20px;
    text-align: -webkit-center;
}

.modifyAccount{
    display: flex;
    width: 100%;
    place-content: space-between;
    margin-bottom: 10px;
}

.modifyAccount p{
    font-size: 25px;

}

/** modal suppression */

/* background */
.modal, .modalUser, .modalTeam, .modalTournament {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
background-color: rgba(0, 0, 0, 0.700);
}


.deleteAccountWarning{
    font-size: 20px;
    margin-bottom: 40px;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
  }

  .cancelbtn:hover, .deletebtn:hover {
    text-decoration: underline;
  }
  
  /* Add a color to the cancel button */
  .cancelbtn {
    color: black;
  }
  
  /* Add a color to the delete button */
  .deletebtn a{
    color: red;
    text-decoration: none;
  }
  
  /* Add padding and center-align text to the container */
  .modalContainer {
    flex-direction: column;
    margin: auto;
    margin-top: 150px;
    padding: 60px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
  }

  .deleteAccountButtons{
    display: flex;
    justify-content: space-evenly;
  }



/** CSS LISTE TOURNOIS, JOUEURS, TEAMS  */


.listBackground{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 50px auto;
    background: rgba(255, 255, 255);
    border-radius: 50px;
}

.listBackground h1{
    text-align: center;
    padding: 20px;
    font-size: 35px;
}

.searchBarList{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.list{
    border: solid darkcyan 8px;
    margin: 50px;
    margin-top: 0;
    height: 530px;
    box-shadow: 0px 0px 5px 2px black inset !important; 
    overflow-y: scroll;
    background-color: #0d2f31;
}

.entity{
    display: flex;
    border-bottom: solid 4px white;
    padding: 15px 20px;
    box-shadow: 2px 0px 5px black inset;
    
}

/* permet d'alterner les couleurs */
.entity:nth-child(odd){
    background: #64babd;
    color: white;
    text-shadow: 0px 1px 1px black;
} 
.entity:nth-child(even){
    background: #cafeff;
    color:#0d2f31;
} 

.entity figure{
    align-self: center;
}

.entity img{
    width: 120px;
    height: 120px;
    background: rgba(255, 255, 255);
    object-fit: cover;
    border: white 3px solid;
    box-shadow: 0px 2px 5px 1px black;
}

.allInfoEntity{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 15px;
    font-size: 20px;
}

.infoEntity{
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.plusInfo{
    align-self: center;
    text-decoration: none;
    border: solid 2px white;
    padding: 5px 10px;
    color: #0d2f31;;
    background: inherit;
    box-shadow: 0px 1px 6px 1px rgb(8 50 51);
    text-shadow: none;
    font-size: 22px;
}

.entity:nth-child(odd) .plusInfo:hover{
    background: #cafeff;
    
}

.entity:nth-child(even) .plusInfo:hover{
    background: #64babd;
}

.infoEntity-one{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.infoEntity-one .two{
    margin: 5px 0px 15px 0px;
}

.infoEntity-one h3 a{
    text-decoration: none;
    color:inherit
}

.infoEntity-two{
    display: flex;
    justify-content: space-between;
}

.noNext{
    text-align-last: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    font-size: 25px;
}


/** CSS FORUM */

.forum-background{
    width: 80%;
    background: rgba(255, 255, 255, 0.5);
    margin: auto;
    margin-top: 50px;
    padding: 20px;
}
.main-forum{
    margin-bottom: 50px;
}

.previous-links{
    margin-left: 10px;
}

.previous-links i{
    color: #0d2f31;
}

.previous-links a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
}

.previous-links a:hover{
    text-decoration: underline;
}

.forum-title{
    display: flex;
    margin-bottom: 10px;
}

.forum-title figure{
    background-color: white;
}

.forum-title-name{
    display: flex;
    justify-content: space-between;
    background: #40b2b5;
    width: 100%;
    align-items: center;
}

.forum-title-name h1{
    font-size: 36px;
    color: white;
    text-shadow: 0px 1px 1px black;
    margin-left: 20px
}

.forum-title-name a{
    font-size: 22px;
    text-decoration: none;
    background-color: #015a5b;
    color: white;
    text-shadow: 0px 1px 1px black;
    padding: 10px;
    margin-right: 20px
}

.forum-title-name a:hover{
    background-color: #015a5b8e;
}

    /* accordion  */
.accordion{
    cursor: pointer;
    border: none;
    border-bottom: solid 1px #ffffff;
    text-align: left;
    outline: none;
    transition: 0.4s;

  }

    /* Petit logo + */
thead.accordion:after {
    content: '\2212';
    color:#0d2f31;
    font-weight: bold;
    float: right;
    margin-right: 10px;
}
    
/* Petit logo - */
thead.accordion.active:after {
    content: "\002B";
}

.panel {
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
}

.panel a{
    padding: 15px;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 18px;
    color: black;
    text-decoration: none;
    border-bottom: solid 1px;
    border-color: lightgrey;
    }

.panel a:hover{
    text-decoration: underline;
}

/* table forum */

.table-forum{
    display: flex;
    flex-direction: column;
}

.table-forum thead{
    display: flex;
    background-color: #81c9c8;
    color: white;
    padding: 18px;
    width: 100%;
    font-size: 26px;
    text-shadow: 0px 1px 1px black;

}

.table-forum thead tr, .table-forum tbody tr {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.table-forum tbody tr {
    padding: 15px;
    border-bottom: solid 1px;
    border-color: lightgrey;
    align-items: center;

}

.topic-name{
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.topic-name:hover{
    text-decoration: underline;
}

.table-forum tbody {
    background-color: white;
}

.principal-subject{
    display: flex;
    align-items: center;
    width: 40%;
    text-align: left;
}

.avatar-subCategory{
    background: white;
    border: solid 3px #ffffff;
    box-shadow: 0px 2px 10px black;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px ;
}


.topic-user-creator{
    color: #40b2b5;
    text-decoration: none;
}

.topic-user-creator:hover{
    text-decoration: underline;
}

.secondary-subject{
    width: 30%;
    text-align: center;
    padding: 0px 10px;
    }

.short-list-topic{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.short-list-topic a {
    font-weight: 100 !important;
}

.tertiary-subject{
    width: 20%;
    text-align: center;
}

td.tertiary-subject-accordeon{
    width: 20%;
    text-align: center;
    margin-right: 20px;
}

.noTopic{
    color: red;
    text-align: center;
    font-size: 20px;
}

/** TOPIC */
.content-topic{
    background: white;
    padding: 24px 75px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    text-align: justify;
    border-bottom: solid 1px;
    border-color: lightgrey;
}

.answer-button-place{
    background: white;
    padding: 10px 75px;
}

.answer-button-place a{
    text-decoration: none;
    color: #015a5b;
    font-size: 18px;
}

.answer-button-place a:hover{
    text-decoration: underline;
    color: #40b2b5;
    
}

.avatar-topic{
    object-fit: cover;
    background: white;
    border: solid 3px #ffffff;
    box-shadow: 0px 2px 10px black;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    margin: 10px;
}

.topic-title{
    display: flex;
    background: #40b2b5;
    width: 100%;
    align-items: center;
}

.topic-title-name{
    display: flex;
    flex-direction: column;
}

.topic-title-name h1{
    font-size: 36px;
    color: white;
    text-shadow: 0px 1px 1px black;
    margin-left: 20px;
}

.topic-title-name span{
    font-size: 20px;
    margin-left: 20px;
    color: #0d2f31;
}

.topic-title-name a{
    color: #0d2f31;
    text-decoration: none;
}

.topic-title-name a:hover{
    color:#ffffff;
    text-decoration: underline;
}

/* topic commentaire */

.forum-commentary-background{
    width: 80%;
    background: rgba(255, 255, 255, 0.5);
    margin: 10px auto;
    padding: 20px;  
}

.forum-answer-background{
    width: 80%;
    background: rgba(255, 255, 255, 0.5);
    margin: auto;
    margin-bottom: 50px;
    padding: 20px;  
}

.commentary-section{
    display: flex;
    background: white;
    padding: 10px;
    border-bottom: solid 1px;
    border-color: lightgrey;
}

.commentary-section .avatar-topic{
    margin-right: 40px;
}

.commentary small{
    color: #000000;
}

.commentary-user, .commentary-user a{
    font-family: 'Roboto Condensed', sans-serif;
    color: #40b2b5;
    text-decoration: none;
}

.commentary-user a:hover{
    text-decoration: underline;
}

.commentary p{
    text-align: justify;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 30px;
}


/* topic réponse */

.answer-title{
    display: flex;
    background: #ebebeb;
    width: 100%;
    align-items: center;
}

.answer-title h1{
    font-size: 25px;
    color: black;
    padding: 15px 0px;
    margin-left: 10px;
}

.answer-section{
    display: flex;
    padding: 10px;
    background: white;
}

.formulaire-post{
    width: 85%;
    margin: auto;
}

.form-answer-post{
    margin: 10px auto;
}

.submit-post{
   text-align: right;
}

.btn-submit-post{
    cursor: pointer;
    margin-bottom: 10px;
    color:#015a5b;
    font-size: 25px;
    border: none;
    background-color: unset;
    
}

.btn-submit-post:hover{
    color: #40b2b5;
    text-decoration: underline;
   
}

.answer-section .warningMessage{
    font-size: 25px;
    margin-bottom: 0;
}


/** ADMINISTRATEUR */


.admin-background{
    width: 80%;
    background: rgba(255, 255, 255, 0.5);
    margin: 50px auto;
    padding: 20px;
}

.admin-title{
    display: flex;
    background:#51068a;
    width: 100%;
    margin-bottom: 10px;
    justify-content: center;
}

.admin-title h1{
    font-size: 36px;
    color: white;
    text-shadow: 0px 1px 1px black;
    padding: 10px 0px;
}

.all-table-admin{
    display: flex;
}


.table-admin{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0px 10px;

}

.table-admin thead{
    display: flex;
    place-content: space-between;
    background-color: #b181c9;
    color: white;
    padding: 18px;
    width: 100%;
    font-size: 26px;
    text-shadow: 0px 1px 1px black;

}

  /* Petit logo + */
  thead.accordion-admin:after {
    content: '\2212';
    color:#51068a;
    font-weight: bold;
    float: right;
    margin-right: 10px;
}
    
/* Petit logo - */
thead.accordion-admin.active:after {
    content: "\002B";
}

.table-admin tbody{
    background-color: white;

}

.table-adminthead tr{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.table-admin tbody tr {
    display: flex;
    padding: 15px;
    border-bottom: solid 1px;
    border-color: lightgrey;
}

.info-admin{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.info-admin a{
    text-decoration:none;
}

.info-name{
    color: #51068a;
    font-size: 20px;
}

.info-name:hover{
    color:#b181c9;
    font-size: 20px;
    text-decoration: underline;
}

.info-element-admin{
    display: flex;
    align-items: center;
}

.control-element-admin {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
}

.btn-delete-admin{
    margin-top: 10px;
    color: red;
    background: none;
    cursor: pointer;
    border: unset;
    font-size: 20px;
}

.btn-delete-admin:hover{
    text-decoration: underline;
}



