@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
}


/** CSS relatif à toutes les pages */

html, body{
    height: 100%;
    width: 100%;
}

body{
    background: linear-gradient(#40b2b5, #4866a2, #51068a);
    background-image: url(../img/background-1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;

}

article{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}


 
footer{
    display: flex;
    height: 80px;
    background: #51068a;
    box-shadow: 0px 0px 5px black;
    padding: 5px 10px;
    left: 0;
    bottom: 0;
    width: 100%;
   
}

footer small {
    color:white;
}

.droit{
    display: flex;
    flex-direction: column;
    align-self: self-end;
}

.warningMessage{
    color: red;
    margin-bottom: 15px;
}

/* bouton */

.btn{
    text-decoration: none;
}

.btn-margin{
    margin: auto;
}

.btn-editProfil{
    align-self: self-start;
}

.btn-join{
    cursor: pointer;
    color: #40b2b5;
    background: none;
    border: none;
    font-size: 25px;
}

.btn-edit{
    cursor: pointer;
    color: #51068a;
    background: none;
    border: none;
    font-size: 25px;
}

.btn-warning{
    cursor: pointer;
    color: red;
    background: none;
    border: none;
    font-size: 25px;
}

.btn-join:hover, .btn-edit:hover, .btn-warning:hover{
    text-decoration: underline;
}


.btn-submit {
    cursor: pointer;
    margin-top: 20px;
    padding: 5px;
    font-size: 25px;
    color: darkcyan;
    border: #40b2b5 solid;
    border-radius: 10px;
    background-color: rgb(255 255 255 / 70%);
}

.btn-submit:hover{
    background-color: rgb(163, 255, 255);

}

.btn-delete{
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    align-self: center;
    border: solid 3px;
    padding: 3px;
    color: red;
    background: rgb(255 255 255 / 70%);
}

.btn-delete-cross{
    cursor: pointer;
    font-size: 15px;
    font-family: 'FontAwesome';
    border: unset;
    padding: 3px;
    color: red;
    background: white;
}

.btn-delete:hover{
    background-color:#f8d7da;

}

.sf-toolbar{
    content-visibility: hidden;
}


/* HEADER */

header{
    display: flex;
    position: relative;
    background: rgb(64, 178, 181) ;
    padding: 10px 0px;
    box-shadow: 0px 0px 5px black;
    
  
}

.infoHeader{
    display: flex;
    width: 95%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    text-shadow: 0px 1px 1px black;
}


.infoHeader h1{
    text-align: center;
    color: white;
    font-size: 35px;
}


header .navigation{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}

.ul-navLeft{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    padding: 0;

}

.ul-navRight{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 0;  
}

.menu{
    display: flex;
    width: 80%;
}


.connexion{
    display: flex;
    width: 20%; 
    justify-content: flex-end
}

.menu-profil{
    display: flex;
    align-items: center;

}

.miniAvatarProfil{
    background: white;
    border: solid 3px #ffffff;
    box-shadow: 0px 2px 10px black;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-left: 10px;
}

/* dropdown */

.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(0 139 139 / 90%);
    border: solid 2px white;
    border-top: dotted 2px white;
    border-radius: 0px 0px 5px 5px;
    min-width: 180px;
    box-shadow: 0px 8px 10px 0px rgb(0 0 0 / 50%);
    z-index: 1;
    font-size: smaller;
    }
      
.dropdown:hover .dropdown-content {
display: block;
}

.menu-item{
    list-style: none;
    color: white;
    margin-right: 10px;
    font-size: 25px;
}

.sub-menu-item{
    list-style: none;
    font-size: 20px;
    color: white;
    padding: 10px 10px;
}

.sub-menu-item:hover{
    background-color: rgba(255, 255, 255, 0.6);
}

header a {
    text-decoration: none;
    color: white;
}


/** menu burger caché */

.menuBurger{
    content-visibility: hidden;
}

.sidenav{
    content-visibility: hidden;
}


    /** ADDFLASH */

.flashMessage{
    width: 100%;
    position: absolute;
}

.flash{
    display: flex;
    justify-content: center;
}

.alert {
    --bs-alert-bg: transparent;
    --bs-alert-padding-x: 1rem;
    --bs-alert-padding-y: 1rem;
    --bs-alert-color: inherit;
    --bs-alert-border-color: transparent;
    --bs-alert-border: 1pxsolidvar(--bs-alert-border-color);
    position: relative;
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
    margin-bottom: var(--bs-alert-margin-bottom);
    color: var(--bs-alert-color);
    background-color: var(--bs-alert-bg);
    border: var(--bs-alert-border);
}

.alert-success {
    --bs-alert-color: #0f5132;
    --bs-alert-bg: #d1e7dd;
    --bs-alert-border-color: #badbcc;
}

.alert-warning {
    --bs-alert-color: #664d03;
    --bs-alert-bg: #fff3cd;
    --bs-alert-border-color: #ffecb5;
}

.alert-danger {
    --bs-alert-color: #842029;
    --bs-alert-bg: #f8d7da;
    --bs-alert-border-color: #f5c2c7;
}

.alert-icon{
    margin-right: 10px;
}

/** ACCUEIL */

.homeBackground{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    margin: auto;
}

.homeBackground h1{
    color: #ffffff;
    text-align: center;
    font-size: 35px;
    text-shadow: 0px 2px 2px black;
    margin-top: 25px;
}

/* stream */

.stream{
    display: flex;
    width: 65%;
    height: 100%;
    margin: auto;
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 50px;
    background-color: rgba(255 255 255 / 80%);

}



/* slideShow */

.slideShowTournament{
    width: 75vh;
    place-self: center;
    margin-bottom: 25px;
}

.slideShowTournament h2{
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.slider{
    position: relative;
    padding: 25px 40px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px

}

.mySlides{
    display: none;
    justify-content: center;
}

.slideButton{
    color: #fff;
    background-color: #696969;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.right-button {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
}

.left-button{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
}

.mySlides figure{
    margin-right: 20px;
}

.mySlides img{
    width: 150px;
    height:  150px;
    border: solid white 5px;
    box-shadow: 0px 2px 5px 1px black;
}

.slideTournamentName{
    font-size: 50px;

}

.slideTournamentInfo{
    font-size: 30px;

}



  


/** INSCRIPTION, CONNECTION et FORMULAIRE */

.formulaireBackground{
    max-width: 450px;
    margin: 80px auto;
    padding: 30px 60px;
    border-radius: 50px;
    background-color: rgb(255 255 255);
}

.formulaireBackground h1{
    margin-bottom: 20px;
    text-align: -webkit-center;
}

.form-control{
    display: block;
    padding: 0.375rem 0.75rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    color: #212529;
    background-color: rgb(244, 244, 244);
    border: 2px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: rgb(64, 178, 181);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(185 240 235);
}

.form-select{
    display: block;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    color: #212529;
    background-color: rgb(244, 244, 244);
    border: 2px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-select:focus{
    color: #212529;
    background-color: #fff;
    border-color: rgb(64, 178, 181);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(185 240 235);
}

.file-form-control{
    font-size: 18px;
  
  }


.button-box{
    text-align: -webkit-center;
}

.textarea-form{
    resize: none;
    height: 100px;
}

/* bouton de choix (oui/non) */
.btwn2Choice{
    display: flex;
}

.btwn2Choice label{
    margin-right: 20px;
}

.btwn2Choice input{
    margin-right: 3px;

}

/* css du register */
.registerFormulaire div{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.registerFormulaire label{
    font-size: 20px;
    margin-bottom: 5px;
}

/* css du login */
.loginForm{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.loginForm label{
    font-size: 20px;
    margin-bottom: 5px;
}

.loginForm input{
    margin-bottom: 10px;
}

.socialNetwork-connection{
    display: flex;
    width: 80%;
    align-items: center;
    place-content: center;
    margin: auto;
    margin-top: 30px;
    padding: 5px 0px;
    border: solid 3px;
    border-radius: 5px;

    text-decoration: none;
    color: #51068a;
    font-size: 20px;
    background-color: rgb(255 255 255 / 70%);
}

.socialNetwork-connection:hover{
    background-color: #e9ccff;

}

.socialNetwork-logo{
    font-size: 25px;
    margin-right: 10px;
}

/* ajouter un personnage */

.addCharacterFormulaire div{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.choiceGender{
    flex-direction: row !important;
}

/** ORGANISER UN TOURNOIS - CREER UNE EQUIPE*/

.tournamentFormBackground, .teamFormBackground{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 50px auto;
    padding: 30px;
    border-radius: 50px;
    background-color: rgba(255 255 255 / 80%);
}

.teamFormBackground .warningMessage{
    text-align: center;
    font-size: 30px;
}

.tournamentFormBackground h1, .teamFormBackground h1{
    align-self: center;
    color: #000000;
    font-size: 35px;
    /* text-shadow: 0px 2px 5px black; */
}

.tournamentFormBackground label, .teamFormBackground label{
    font-size: 22px;  
}

.form-tournament{
    width: 85%;
}

.addTournamentFormulaire, .addTeamFormulaire{
    display: flex;
    justify-content: space-between;
    padding: 40px 0 20px 0;
}

.addTournamentPartOne, .addTournamentPartTwo, .addTournamentPartThree, .addTeamPartOne, .addTeamPartTwo, .addTeamPartThree{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    margin: 0px 25px;
}

.addTournamentPartThree, .addTeamPartThree{
    justify-content: flex-start;
}

.addTournamentPartOne div, .addTournamentPartTwo div, .addTournamentPartThree div, .addTeamPartOne div, .addTeamPartTwo div, .addTeamPartThree div{
    margin-bottom: 20px;
}

.submitAddTournamentPosition, .submitAddTeamPosition{
    text-align: center;
}

.submitAddTournament, .submitAddTeam{
    cursor: pointer;
    color: darkcyan;
    font-size: 30px;
    padding: 8px 20px;
    border: solid 4px  rgb(64, 178, 181);
    border-radius: 10px;
}

.submitAddTournament:hover, .submitAddTeam:hover{
   background-color: rgba(255, 255, 255, 0.655);
}


/* permet de griser les parties non disponible une fois qu' un choix est fait */
input[type=number]:disabled{
    background-color: gray;
    border-color: grey; 
}

textarea:disabled{
    background-color: gray;
    border-color: grey;  
}



/** PROFIL */

/* css commun à user/tournament/team */

.profilBackground{
    width: 80%;
    margin: 50px auto;
}

.profilUser .warningMessage, .profilTeam .warningMessage{
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin-top: 20px
}

.imgProfil{
    height: 250px;
    width: 250px;
    object-fit: cover;
    background: white;
    border: solid white 5px;
    box-shadow: 0px 2px 5px 1px black;
    border-radius: 15px;
}

.profil{
    padding: 40px 50px;
    background-color: rgba(255, 255, 255);
    border-radius: 50px;
    margin-bottom: 30px;
}

.profil h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.allInfo{
    display: flex;
    margin-bottom: 30px;
}

.allInfo figure{
    margin-right: 5%;
}

.profilInfo {
    width: 35%;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoPartTwo{
    margin-top: 10px;
}


.stats{
    margin-top: 10px;

}

/* css profil user + team */
.profilInfoMatch{
    width: 35%;
    font-size: 25px;
}

.profilInfoMatch .warningMessage{
    text-align: unset  !important;
}

/* css profil user uniquement */

.modifyInfoP{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

.characterClass{
    display: flex;
    align-self: center;
}

.characterName{
    width: 90%;
    margin-right: 10px
}

/* css profil Team uniquement*/


.btnTeamInfo{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-between;
}

.teamDescription{
    margin-bottom: 30px;
    font-size: 25px;

}

/* css profil Tournament uniquement */

.profilTournament h1{
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
}


.allInfoTournament{
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}

.rewardTournamentSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 25px;
    
}

.tournamentDescription{
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    font-size: 25px;
}

.tournamentDescription p{
    text-align: justify;
}

.tournamentInscription{
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    font-size: 25px;
}

.inscriptionTeams{
    display: flex;
    width: 25%;
    justify-content: space-between;
}

.littleInfo{
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
}

.participatorList{
    text-align: -webkit-center;
    margin-bottom: 15px;
}


.participatingTeam{
    background-color: #0d2f31 !important;
    overflow-y: scroll;
    padding: 0px !important;
}

.noParticipation{
    color:white;
    text-align-last: center;
    font-size: 25px;
    margin-top: 20px;
}


   /* Onglets profil */

/* style de l'onglet */
.tab-profil {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border: 6px solid darkcyan;
    border-bottom: solid 4px darkcyan;
    background-color: rgb(202 254 255);
    }
    
    /* Style des boutons des onglets */
.tab-profil button {
    background-color: inherit;
    color: darkcyan;
    width: 33%;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
    
    /* changerement du background du bouton en hover */
.tab-profil button:hover {
    background-color: #ddd;
}
    
    /* Create an active/current tablink class */
.tab-profil button.active {
    background-color: #40b2b5;
    color: white;
}
    
    /* Style du contenu de l'onglet */
.tabcontentProfil {
    display: none;
    flex-direction: column;
    background: white;
    border: 6px solid darkcyan;
    padding: 20px;
    border-top: 4px;
    box-shadow: 0px 0px 5px 1px black inset;
    min-height: 277px;
}

    /* onglet personnages/ team / tournois */

.characterCollection, .tournamentUserCollection, .teamsUserCollection{
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    overflow: auto;
}  

.characterProfil, .tournamentUserProfil, .teamUserProfil{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
}

.characterProfil img{
    width: 150px;
}

.tournamentUserProfil img, .teamUserProfil img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: solid white 5px;
    box-shadow: 0px 2px 5px 1px black;

}

.tournamentUserProfil a, .teamUserProfil a{
    color:#0d2f31;
    text-decoration: none;
}

.addElementTab{
    align-self: flex-end;
    font-size: 20px;
    color: #51068a;
}

.addElementTab:hover{
    text-decoration: underline;
    color: hsla(274, 92%, 28%, 0.8);
}

.teamChoice{
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}

.teamChoice .addElementTab{
    margin-right: 25px;
}




    


/**  MODIFIER PROFILE */

.editProfilBackground{
    background: rgba(255 255 255);
    width: 45%;
    margin: 50px auto;
    padding: 30px 60px;
    border-radius: 50px;
}

.editProfilBackground h1{
    margin-bottom: 20px;
    text-align: -webkit-center;
    font-size: 40px;
}

.profilFormulaire label {
    font-size: 25px;
    
  }

.avatarPosition{
    text-align: -webkit-center;
}

.profilFormGroup{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;

}

.editAvatar{
    background: #ffffff;
    border: solid 5px #ffffff;
    box-shadow: 0px 2px 5px 1px black;
    border-radius: 15px;
    height: 250px;
    width: 250px;
    object-fit: cover;
    margin-bottom: 20px;
 
}

.avatarForm, .profilFormSubmit{
    text-align: center;
}

.buffer div{
    margin-bottom: 15px;

}



/** MODIFIER COMPTE */

.accountBackground{
    display: flex;
    flex-direction: column;
    background: white;
    width: 400px;
    margin: auto;
    margin-top: 80px;
    padding: 30px 40px;
    border-radius: 50px;
    justify-content: space-between;
}

.accountBackground h1{
    font-size: 45px;
    margin-bottom: 20px;
    text-align: -webkit-center;
}

.modifyAccount{
    display: flex;
    width: 100%;
    place-content: space-between;
    margin-bottom: 10px;
}

.modifyAccount p{
    font-size: 25px;

}

/** modal suppression compte */

/* background */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
background-color: rgba(0, 0, 0, 0.700);
}


.deleteAccountWarning{
    font-size: 20px;
    margin-bottom: 40px;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
  }

  .cancelbtn:hover, .deletebtn:hover {
    text-decoration: underline;
  }
  
  /* Add a color to the cancel button */
  .cancelbtn {
    color: black;
  }
  
  /* Add a color to the delete button */
  .deletebtn a{
    color: red;
    text-decoration: none;
  }
  
  /* Add padding and center-align text to the container */
  .modalContainer {
    flex-direction: column;
    margin: auto;
    margin-top: 150px;
    padding: 60px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
  }

  .deleteAccountButtons{
    display: flex;
    justify-content: space-evenly;
  }



/** CSS LISTE TOURNOIS, JOUEUR, TEAM  */


.listBackground{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 50px auto;
    background: rgba(255, 255, 255);
    border-radius: 50px;
}

.listBackground h1{
    text-align: center;
    padding: 20px;
    font-size: 35px;
}

.searchBarList{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.list{
    border: solid darkcyan 8px;
    margin: 50px;
    margin-top: 0;
    height: 530px;
    box-shadow: 0px 0px 5px 2px black inset !important; 
    overflow-y: scroll;
    background-color: #0d2f31;
}

.entity{
    display: flex;
    border-bottom: solid 4px white;
    padding: 15px 20px;
    box-shadow: 2px 0px 5px black inset;
    
}

/* permet d'alterner les couleurs */
.entity:nth-child(odd){
    background: #64babd;
    color: white;
    text-shadow: 0px 1px 1px black;
} 
.entity:nth-child(even){
    background: #cafeff;
    color:#0d2f31;
} 

.entity figure{
    align-self: center;
}

.entity img{
    width: 120px;
    height: 120px;
    background: rgba(255, 255, 255);
    object-fit: cover;
    border: white 3px solid;
    box-shadow: 0px 2px 5px 1px black;
}

.allInfoEntity{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 15px;
    font-size: 20px;
}

.infoEntity{
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.plusInfo{
    align-self: center;
    text-decoration: none;
    border: solid 2px white;
    padding: 5px 10px;
    color: #0d2f31;;
    background: inherit;
    box-shadow: 0px 1px 6px 1px rgb(8 50 51);
    text-shadow: none;
    font-size: 22px;
}

.entity:nth-child(odd) .plusInfo:hover{
    background: #cafeff;
    
}

.entity:nth-child(even) .plusInfo:hover{
    background: #64babd;
}

.infoEntity-one{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.infoEntity-one .two{
    margin: 5px 0px 15px 0px;
}

.infoEntity-one h3 a{
    text-decoration: none;
    color:inherit
}

.infoEntity-two{
    display: flex;
    justify-content: space-between;
}

.noNext{
    text-align-last: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    font-size: 25px;
}




/** CSS MESSAGERIE */

.wrapperMessage {
    position: relative;
    left: 50%;
    height: 800px;
    transform: translate(-50%, 0);
}

.containerMessage {
    display: flex;
    position: relative;
    width: 60%;
    height: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
}

ul {
    list-style: none;
}


/* Partit gauche */

.left {
    width: 37.6%;
    height: 100%;
    border-right: solid gainsboro 1px
}

.left-top {
    display: flex;
    position: relative; 
    place-content: space-between;
    padding: 30px;
}

/* ligne entre les personnes */
.left-top:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 80%;
    height: 1px;
    content: "";
    background-color: gainsboro;
    transform: translate(-50%, 0);
}

.searchBar {
    width: 60%;
    padding: 0 15px;
    border: 1px solid gainsboro;
    background-color: #eceff1;
    border-radius: 20px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
}

.search {
    width: 42px;
    height: 42px;
    background-color: #40b2b5;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/name-type.png);
    background-repeat: no-repeat;
    background-position: top 12px left 14px;
    border-radius: 50%;
}

.friends-list {
    margin-left: -1px;
    width: calc(100% + 2px);
}


.friend {
    display: flex;
    position: relative;
    width: 100%;
    padding: 12px 10% 16px;
    cursor: pointer;
}

.friend:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 80%;
    height: 1px;
    content: "";
    background-color: gainsboro;
    transform: translate(-50%, 0);
}

.friend.active, .friend:hover {
    margin-top: -1px;
    margin-left: -1px;
    padding-top: 13px;
    border: 0;
    background-color: #40b2b5;
    width: calc(100% + 2px);
    padding-left: calc(10% + 1px);
}

.friend.active span, .friend:hover span {
    color: white;
}

.messageAvatar{
    background: white;
    border: solid 2px gainsboro;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.infoMessage{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.left-top .pseudo {
    font-size: 14px;
    line-height: 22px;
    color: #222;
    font-weight: 600;
}

.friend .time {
    font-size: 14px;
    color: grey;
}

.message-preview {
    font-size: 14px;
    overflow: hidden !important;
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: grey;
}



/* Partit droite */

.right {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 62.4%;
    height: 100%;
}

.right-top {
    width: 100%;
    height: 47px;
    padding: 15px 29px;
    background-color: #eceff1;
    border-radius: 0px 20px 0px 0px;
}

.right-top span {
    font-size: 15px;
    color: grey;
}

.right-top .pseudo{
    color: dark;
    font-weight: 600;
}


.conversation-start {
    position: relative;
    width: 100%;
    margin-bottom: 27px;
    text-align: center;
}

/* jour et date */
.conversation-start span:before, .conversation-start span:after {
    position: absolute;
    top: 10px;
    display: inline-block;
    width: 30%;
    height: 1px;
    content: "";
    background-color: gainsboro;
}

.conversation-start span:before {
    left: 0;
}

.conversation-start span:after {
    right: 0;
}

.conversation-start span {
    font-size: 14px;
    display: inline-block;
    color: gainsboro;
}

/* conversation */

.chat.active-chat {
    display: flex;
}

.scrollBar{
    overflow-y: scroll;
}

.chat {
    display: flex;
    position: relative;
    /* display: none; */
    /* overflow: hidden; */
    padding: 0 35px 92px;
    border-color: gainsboro;
    height: calc(100% - 48px);
    flex-direction: column;
}

.message {
    font-size: 16px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 8px;
    padding: 13px 14px;
    vertical-align: top;
    border-radius: 5px;
}

.message:before {
    position: absolute;
    top: 19px;
    display: block;
    width: 8px;
    height: 6px;
    content: " ";
    transform: rotate(29deg) skew(-35deg);
}

.message.you {
    color: white;
    background-color: #40b2b5;
    align-self: flex-start;
}

.message.you:before {
    left: -3px;
    background-color: #40b2b5;
}

.message.me {
    color:#222;
    background-color: #eceff1;
    align-self: flex-end;
}

.message.me:before {
    right: -3px;
    background-color: #eceff1;
}

.write {
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
    height: 42px;
    border: 1px solid gainsboro;
    background-color: #eceff1;
    width: calc(100% - 58px);
    border-radius: 5px
}

.write input {
    font-size: 16px;
    width: 90%;
    height: 40px;
    padding: 0 10px;
    color:#222;
    border: 0;
    outline: none;
    background-color: #eceff1;
    font-weight: 400;
}

.write .write-link.send:before {
    display: inline-block;
    width: 20px;
    height: 42px;
    padding: 0 10px;
    content: "";
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/send.png);
    background-repeat: no-repeat;
    background-position: center;
}


