{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block body %}

<div class="editProfilBackground">

    {% if app.user %}
        
        <h1>Modifier le mot de passe</h1>

        <div class="profilFormulaire">   
            {{ form_start(editAccountForm) }}
            
                {{ form_row(editAccountForm.actualPassword)}}
                {{ form_row(editAccountForm.plainPassword, {label: 'mot de passe'}) }}

            {{ form_end(editAccountForm)}}

        </div> 

        
    {% else %}
        
    <p>Veuillez vous connecter !</p>

</div>


{% endif %}

{% endblock %}